<a href="https://colab.research.google.com/github/KirtiNayak11/ML/blob/main/PCA_on_mnsit_dataset__handwriting_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
testData=pd.read_csv("https://raw.githubusercontent.com/sbussmann/kaggle-mnist/master/Data/test.csv")

In [3]:
trainData=pd.read_csv('https://raw.githubusercontent.com/sbussmann/kaggle-mnist/master/Data/train.csv')

In [4]:
x=trainData.iloc[:,1:]
y=trainData.iloc[:,0]

In [5]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
data=st.fit_transform(x)

In [6]:
covMatrix=np.matmul(x.T,x)

<ipython-input-6-cdaec2b1bd77>:1: FutureWarning: Calling a ufunc on non-aligned DataFrames (or DataFrame/Series combination). Currently, the indices are ignored and the result takes the index/columns of the first DataFrame. In the future , the DataFrames/Series will be aligned before applying the ufunc.
Convert one of the arguments to a NumPy array (eg 'ufunc(df1, np.asarray(df2)') to keep the current behaviour, or align manually (eg 'df1, df2 = df1.align(df2)') before passing to the ufunc to obtain the future behaviour and silence this warning.
  covMatrix=np.matmul(x.T,x)

In [8]:
from scipy.linalg import eigh
values,vectors=eigh(covMatrix,eigvals=(782,783))

<ipython-input-8-e8de9759bff2>:2: DeprecationWarning: Keyword argument 'eigvals' is deprecated in favour of 'subset_by_index' keyword instead and will be removed in SciPy 1.12.0.
  values,vectors=eigh(covMatrix,eigvals=(782,783))

In [10]:
coo=np.matmul(vectors.T,x.T)

In [12]:
xcoo=np.vstack((coo,y)).T
df=pd.DataFrame(xcoo)
df

                 0            1    2
0       496.627364   939.781482  1.0
1     -1591.724437  2219.158271  0.0
2       670.741316   928.988860  1.0
3      -275.255445   707.195978  4.0
4     -1804.407765  2327.202031  0.0
...            ...          ...  ...
41995  -999.125941  1307.469089  0.0
41996   879.702773   941.323331  1.0
41997  -215.211943  1747.340908  7.0
41998  -301.807895  1551.624880  6.0
41999   306.565177  1190.462187  9.0

[42000 rows x 3 columns]